<header id="main_navigation" class="clearfix">
  <a href="#" class="name">Disciples Of Dionysus</a>
    <nav>
      <a href="articles.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
      <a href="contact.html"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </nav>
</header>